extends layout

block content
    #banner.page-header
        .row
           .col-lg-6
                h1 Good Place Finder
                    small &nbsp; Find places to work with wifi near you!
    .row
        .col-xs-12.col-sm-8
            .row.list-group
                .col-xs-12.list-group-item
                    h4
                        a(href:'location') Kopi Tentrem
                        small &nbsp;
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star-empty
                            span.glyphicon.glyphicon-star-empty
                        span.badge.pull-right.badge-default 100m
                    p.address Jalan Cisitu Lama No. 50
                    p
                        span.label.label-warning Kopi
                        | &nbsp;
                        span.label.label-warning Food
                        | &nbsp;
                        span.label.label-warning Premium wifi
                        | &nbsp;
        
   
                .col-xs-12.list-group-item
                    h4
                        a(href:'location') Cikopi
                        small &nbsp;
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star-empty
                            span.glyphicon.glyphicon-star-empty
                        span.badge.pull-right.badge-default 500m
                    p.address Jalan Cisitu Baru No. 99
                    p
                        span.label.label-warning Kopi
                        | &nbsp;
                        span.label.label-warning Food
                        | &nbsp;
                        span.label.label-warning Premium wifi
                        | &nbsp;
        
   
                .col-xs-12.list-group-item
                    h4
                        a(href:'location') Upnormal
                        small &nbsp;
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star-empty
                            span.glyphicon.glyphicon-star-empty
                        span.badge.pull-right.badge-default 900m
                    p.address Jl. R.E. Martadinata No.114
                    p
                        span.label.label-warning Kopi
                        | &nbsp;
                        span.label.label-warning Food
                        | &nbsp;
                        span.label.label-warning Premium wifi
                        | &nbsp;
        .col-xs-12.col-sm-4
            p.lead  Looking for wifi and a seat? Good Place Finder helps you find places to work when out. Perhaps with coffee, cake or a pint? Let us help



